:root{
  --purple-color: #3A2E39;
  --green-color:  #4E6E58;
  --white-color:  #F8F2F1;
  --red-color: #B81010;
}

*{
  font-family: 'Bebas Neue', cursive;
}

main{
  background-color:var(--white-color);
  height: 100vh;
  padding-bottom: 60px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */}
  
  
  
  